bin
obj
.vs/SemesterProjekt2/FileContentIndex/3ca08395-6916-4c5e-aa98-2c6dffca8f20.vsidx
.vs/slnx.sqlite
.vs/SemesterProjekt2/FileContentIndex/86c830f6-4ae9-4985-b52f-e2755a28a838.vsidx
*.vsidx
*/**/.vs/
tremorur/tremorur.csproj.user
